<div class= "form-group">
<h5> Login </h5>
  
</div>
<%= form_tag method: :post, url: login_path do %>
  <p>
    <%= label_tag :email%>
    <%= email_field_tag :email,"", class: "form-control"  %>
  </p>

  <p>
    <%= label_tag :password%>
    <%= password_field_tag :password,"", class: "form-control"  %>
  </p>

  <p>
    <%= submit_tag 'Login', class: "btn btn-primary"%> | <%= link_to 'Or create new user', new_user_path %>
  </p>
<% end %>
</div>
