<h1>Comments#edit</h1>
<p>Find me in app/views/comments/edit.html.erb</p>

<%= form_for [@comment.article_id, @comment], url: article_comment_path(@comment.article_id, @comment) do |f| %>
  <p>
    <%= f.label :commenter %>
    <%= f.text_field :commenter %>
  </p>
  
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
