<%= form_tag articles_path, method: :get do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search'%>
<% end %>

<h1>list articles</h1>
<br>

<% @articles.each do |article| %>
  <%= article.title %><br>
  <%= @markdown.render(article.text).html_safe %>

<br>
<%= link_to 'Show', article %>
<%= link_to 'Edit', edit_article_path(article) %>
<%= link_to 'Delete', article, method: :delete, data: {confirm: 'Do you want to delete this article?'} %><br><br>
<% end %>
<br>
<br>

<%= link_to 'New Article', new_article_path %>
