<%= @article.title %><br>
<%= @markdown.render(@article.text).html_safe %>



<br>
<%= link_to 'Back', root_path %>

<h1> Comments </h1>
<%= render @article.comments %>
<%= render 'comments/form' %>

