<% content_for :title do %>
  <% @article.title %>
<% end %>
<%= @article.title %><br>
<%= @markdown.render(@article.text).html_safe %>

<% if @article.views == 0 %>
  no view
<% else %>
  <%= pluralize(@article.views, 'view') %>
<% end %>

<h4> Comments </h4>
<%= render @article.comments %>
<%= render 'comments/form' %>


<br>
<%= link_to 'Back', root_path %>
