<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
      
      <% if user_signed_in? %>
        Logged in as <%= @current_user.name %>
        <%= link_to 'Logout', logout_path, class: "float-right", method: :delete, data: {confirm: "sure to logout?"} %>
      <% else %>
        <%= link_to 'Login', login_path,class: "float-right" %>
      <% end %>

     <%= yield %>
    </div>
  </body>
</html>
